<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>단순 SSE</title>
</head>
<body>
<button id="orderedBtn">주문완료</button>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript">
    const loginToken = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHBpcmUiOiIyMDIyLTEyLTIxVDIyOjIyOjQ0LjEyOSIsImlzcyI6Im1hbW9vayIsInRpbWUiOiIyMDE5LTEyLTIxVDIyOjIyOjQ0LjEyOSJ9.jluKGnZs0RYQl41vgKOLmFX30988-iNFrOdTckJn8ng";

    document.getElementById("orderedBtn").onclick = function() {
        axios({
            method: 'get',
            url: '/api/alarm/articles/1/orders',
            headers: {
                Authorization: 'Bearer ' + loginToken //the token is a variable which holds the token
            }
        })
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
            });
    };

    let source = new EventSource("/alarm/users/mamook");
    source.onmessage = function(e) {
        console.log(e);
    };
</script>
</body>

</html>